---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Conducciones las Arrieritas" description="Conducciones las Arrieritas">
    <main>
        <h1>Nuestras Rutas</h1>
    </main>
</Layout>