---
import AboutCard from "../components/AboutCard.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Conducciones las Arrieritas" description="Conducciones las Arrieritas">
    <main>
        <h1>Quiénes Somos</h1>
        <section class="cards">
        <AboutCard title="Servicio" description="Es la capacidad que tiene el Equipo Humano de ARRIERITAS de garantizar una satisfacción integral a nuestros clientes, brindando entregas oportunas y seguras; con una flota vehicular confiable."/>
        <AboutCard title="Excelencia" description="Es el talento que tiene el Equipo Humano de ARRIERITAS, de hacer su trabajo de manera extraordinaria, sorprendiendo positivamente, generando valor para nuestras partes interesadas."/>
        <AboutCard title="Integridad" description="El Equipo Humano de ARRIERITAS actúa siempre de manera, cuidando los intereses de nuestros clientes, proveedores, accionistas, comunidad y empleados."/>
        <AboutCard title="Confianza" description="Es la garantía de que el Equipo Humano de ARRIERITAS siempre ofrece entregas confiables en cantidad, calidad y seguridad."/>
        </section>
    </main>
</Layout>

<style>
    main {
        z-index: 10;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
        margin-top: 75px;
    }
    .cards {
        max-width: 80%;
        display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
    }
</style>