<section class="entities">
    <h2>ENTES REGULADORES</h2>
    <div>
        <a href="https://www.metropol.gov.co/" target="_blank"><img src="aream.jpg"/></a>
        <a href="https://www.supertransporte.gov.co/" target="_blank"><img src="trans.jpg"/></a>
        <a href="https://caldasantioquia.gov.co/" target="_blank"><img src='caldas.png'/></a>
        <a href="https://www.mintransporte.gov.co/" target="_blank"><img src='min.jpg'/></a>
    </div>
</section>

<style>
    .entities {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 100px;
        padding: 20px;
    }
    .entities > h2 {
        font-size: 18px;
        color: #383838;
    }
    .entities > div {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }
    .entities > div > a > img {
        width: 150px;
    }
</style>